 @media screen and (min-width:1270px) and (max-width:1366px) {
    .keksta {transform: scale(0.87);}
 }
  @media screen and (min-width:1120px) and (max-width:1270px) {
    .keksta {transform: scale(0.8);}
 }
   @media screen and (min-width:1000px) and (max-width:1120px) {
    .keksta {transform: scale(0.7);}
 }
   @media screen and (min-width:880px) and (max-width:1000px) {
    .keksta {transform: scale(0.6);}
 }
    @media screen and (max-width:880px) {
    .keksta {transform: scale(0.5);}
 }

.keksta {
  min-width: 550px;
  background: url("../img/background.png") repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -375px;
  margin-left: -650px;
  color: #fff; }
  .keksta .container {
    overflow: hidden;
    width: 1350px;
    height: 750px;
    display: flex;
    flex-flow: row wrap; }
    .keksta .container .left {
      width: 650px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .keksta .container .left .photo-box {
        position: relative;
        width: 600px;
        height: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 10px solid #ffffff;
        cursor: pointer; }
        .keksta .container .left .photo-box .photo {
          display: block;
          transform: scale(1);
          transition: transform .3s, width .3s, height .3s; }
          .keksta .container .left .photo-box .photo.dragenter {
            transform: scale(0.95); }
        .keksta .container .left .photo-box .loader {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.6);
          display: none;
          z-index: 10; }
          .keksta .container .left .photo-box .loader:before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
            content: 'Processing...';
            color: white;
            display: block; }
        .keksta .container .left .photo-box .label {
          position: absolute;
          width: 100%;
          left: 0;
          top: 40%;
          text-align: center;
          pointer-events: none;
          user-select: none;
          font-size: 14px; }
          .keksta .container .left .photo-box .label img {
            display: inline-block; }
      .keksta .container .left .download {
        text-align: center;
        padding-top: 40px;
        width: 150px;
        margin: 0 auto; }
        .keksta .container .left .download .download-link {
          opacity: 0;
          visibility: hidden;
          display: inline-block;
          text-decoration: none;
          padding: 0 10px;
          height: 40px;
          line-height: 40px;
          transition: opacity .4s;
          color: #aaa9a9;
          font-weight: bolder;
          background-color: rgba(255, 255, 255, 0.17);
          border: 2px solid rgba(252, 252, 252, 0.4);
          border-radius: 8px;
          margin-top: -5px;
          transition: background-color 1s 0.1s ease;
          transition: color 0.4s 0.1s ease; }
          .keksta .container .left .download .download-link.show {
            opacity: 1;
            visibility: visible; }
        .keksta .container .left .download :hover {
          color: #f4f0f0;
          background-color: rgba(137, 84, 60, 0.78); }
      .keksta .container .left .file-picker {
        display: none; }
    .keksta .container .middle {
      display: flex;
      flex-direction: column;
      width: 250px;
      bottom: 10px;
      position: relative;
      height: 100%;
      justify-content: center;
      align-items: center;
      right: 0; }
      .keksta .container .middle #share {
        width: 85%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .keksta .container .middle #share .like {
          font-size: 16px;
          font-weight: 700;
          line-height: 50px;
          color: #aaa9a9; }
        .keksta .container .middle #share .push {
          display: inline-block;
          width: 17%;
          min-width: 100px;
          line-height: 40px;
          margin: 5px 2px 20px 2px;
          font-size: 15px;
          text-align: center;
          color: #fff;
          cursor: pointer; }
        .keksta .container .middle #share .social a:hover {
          text-decoration: none; }
        .keksta .container .middle #share .facebook {
          background-color: #3b5998; }
        .keksta .container .middle #share .facebook:hover {
          background-color: #2d4373;
          color: #fff; }
        .keksta .container .middle #share .google {
          background-color: #dd4b39; }
        .keksta .container .middle #share .google:hover {
          background-color: #c23321;
          color: #fff; }
        .keksta .container .middle #share .twitter {
          background-color: #55acee; }
        .keksta .container .middle #share .twitter:hover {
          background-color: #2795e9;
          color: #fff; }
        .keksta .container .middle #share .vkontakte {
          background-color: #587ea3; }
        .keksta .container .middle #share .vkontakte:hover {
          background-color: #466482;
          color: #fff; }
      .keksta .container .middle .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 0 10px 0;
        margin: 20px 0 10px 0; }
        .keksta .container .middle .form-group .btn-default {
          color: #aaa9a9;
          font-weight: bolder;
          background-color: rgba(255, 255, 255, 0.17);
          border: 2px solid rgba(252, 252, 252, 0.4);
          border-radius: 50%;
          width: 100px;
          height: 100px;
          transition: background-color 1s 0.1s ease;
          transition: color 0.4s 0.1s ease; }
        .keksta .container .middle .form-group .btn:hover {
          color: #f4f0f0;
          background-color: rgba(137, 84, 60, 0.78); }
    .keksta .container .right {
      display: flex;
      flex-direction: row;
      width: 410px;
      bottom: 0;
      position: absolute;
      height: 100%;
      justify-content: center;
      right: 0; }
      .keksta .container .right .filters {
        box-sizing: border-box;
        margin-bottom: 0;
        padding: 10px 0 20px 20px;
        background: rgba(100, 100, 100, 0.42);
        text-align: center; }
        .keksta .container .right .filters.active {
          opacity: 1;
          visibility: visible; }
        .keksta .container .right .filters::-webkit-scrollbar {
          height: 4px;
          background-color: rgba(100, 100, 100, 0.2);
          border-radius: 2px; }
        .keksta .container .right .filters::-webkit-scrollbar-thumb {
          border-radius: 1px;
          background: #fff;
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          cursor: pointer; }
        .keksta .container .right .filters::-webkit-scrollbar-thumb:window-inactive {
          background: #aaa; }
        .keksta .container .right .filters .preset {
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          margin-right: 22px;
          width: 100px;
          height: 100px;
          background-position: 40%;
          background-size: cover;
          color: #fff;
          vertical-align: top;
          text-align: center;
          text-transform: uppercase;
          font-size: 12px;
          font-family: Arial;
          cursor: pointer;
          margin-bottom: 25px;
          transition: transform 0.1s 0.1s ease; }
          .keksta .container .right .filters .preset.active {
            box-shadow: 0 0 0 3px #ffffff; }
        .keksta .container .right .filters .preset:hover {
          transform: scale(1.15); }
        .keksta .container .right .filters .preset_original {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic.jpg"); }
        .keksta .container .right .filters .preset_vintage {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-vintage.png"); }
        .keksta .container .right .filters .preset_lomo {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-lomo.png"); }
        .keksta .container .right .filters .preset_clarity {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-clarity.png"); }
        .keksta .container .right .filters .preset_concentrate {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-concentrate.png"); }
        .keksta .container .right .filters .preset_sunrise {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-sunrise.png"); }
        .keksta .container .right .filters .preset_crossProcess {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-crossProcess.png"); }
        .keksta .container .right .filters .preset_orangePeel {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-orangePeel.png"); }
        .keksta .container .right .filters .preset_love {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-love.png"); }
        .keksta .container .right .filters .preset_grungy {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-grungy.png"); }
        .keksta .container .right .filters .preset_jarques {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-jarques.png"); }
        .keksta .container .right .filters .preset_pinhole {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-pinhole.png"); }
        .keksta .container .right .filters .preset_oldBoot {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-oldBoot.png"); }
        .keksta .container .right .filters .preset_glowingSun {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-glowingSun.png"); }
        .keksta .container .right .filters .preset_hazyDays {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-hazyDays.png"); }
        .keksta .container .right .filters .preset_herMajesty {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-herMajesty.png"); }
        .keksta .container .right .filters .preset_nostalgia {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-nostalgia.png"); }
        .keksta .container .right .filters .preset_hemingway {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.7)), url("../img/toggle-pic-hemingway.png"); }
        .keksta .container .right .filters .preset-name {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          color: white; }
        .keksta .container .right .filters .preset.preset_clarity {
          background-position: 0 0; }
        .keksta .container .right .filters .preset.preset_concentrate {
          background-position: -100px 0; }
        .keksta .container .right .filters .preset.preset_crossProcess {
          background-position: -200px 0; }
        .keksta .container .right .filters .preset.preset_glowingSun {
          background-position: -300px 0; }
        .keksta .container .right .filters .preset.preset_grungy {
          background-position: -400px 0; }
        .keksta .container .right .filters .preset.preset_hazyDays {
          background-position: -500px 0; }
        .keksta .container .right .filters .preset.preset_hemingway {
          background-position: -600px 0; }
        .keksta .container .right .filters .preset.preset_herMajesty {
          background-position: -700px 0; }
        .keksta .container .right .filters .preset.preset_jarques {
          background-position: -800px 0; }
        .keksta .container .right .filters .preset.preset_lomo {
          background-position: -900px 0; }
        .keksta .container .right .filters .preset.preset_love {
          background-position: -1000px 0; }
        .keksta .container .right .filters .preset.preset_nostalgia {
          background-position: -1100px 0; }
        .keksta .container .right .filters .preset.preset_oldBoot {
          background-position: -1200px 0; }
        .keksta .container .right .filters .preset.preset_orangePeel {
          background-position: -1300px 0; }
        .keksta .container .right .filters .preset.preset_original {
          background-position: -1400px 0; }
        .keksta .container .right .filters .preset.preset_pinhole {
          background-position: -1500px 0; }
        .keksta .container .right .filters .preset.preset_sinCity {
          background-position: -1600px 0; }
        .keksta .container .right .filters .preset.preset_sunrise {
          background-position: -1700px 0; }
        .keksta .container .right .filters .preset.preset_vintage {
          background-position: -1800px 0; }

/*# sourceMappingURL=filter.css.map */
