#search_form input[name="q"]
{
	width: 200px;
}

#results b
{
	color: #d20000;
}

#regist_form > div
{
	width: 300px;
	margin-top: 10px;
}
#regist_form .descr
{
	display: inline-block;
	width: 100px;
}
#regist_form input[type="text"] , 
#regist_form input[type="password"]
{
	display: inline-block;
	width: 180px;
}
form .required
{
	color: red;
}
#regist_form input[type="submit"]
{
	margin-top: 20px;
	width: 100px;
	height: 25px;
}

form .error
{
	font-size: 10px;
	color: red;
	display: inline-block;
	width: 100%;
	text-align:right;
}