/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */
body {
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    height: 100%;
}

a {
    color: #12a224;
}

.btn:hover {
    background-color: #c8c623;
}

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

#top
{
    /* surround with whitespace */
    margin-bottom: 15px;
    margin-top: 15px;
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.63);
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* surround with whitespace */
    margin: 20px;
}

.table>thead:first-child>tr:first-child>th {
    text-align: center;
}

.table>tbody>tr>th {
    text-align: center;
}

.cash_bold {
    font-size: 30px;
    color: #797700;
    font-weight: bold;
}

.center_button{
    width: 110px;
    margin: 0 auto;
}